<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Citta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form th:action="@{/risultato}"
            method="GET">
            <span th:each="cit : ${citta}">
                <span th:text="${cit}"></span><br>
                
            </span>
            
                <input type="text" name="nome" placeholder="Inserisci nome città">
            
                <input type="text" name="distretto" placeholder="Inserisci distretto">
            
            
            <input type="submit" value="Invia">
        </form>
    </body>
</html>
