<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Pagina Continenti</title>

<link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/css/main.css}"/>
    
</head>

<body>
	    <form>
	    	<ul>
	    		<span th:each="cont : ${continenti}">
		    		<input type="radio" name= "continente" th:value="${cont}" th:text="${cont}"/><br>
		    		
	
	    		</span>
	    	</ul>
	 	</form>

<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>