<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Stato</title>
</head>
<body>
	<form th:action="@{/citta}" method="post">
		<ul>
		
				<!-- <select name="stato" th:value="${stato}" th:text="${stato}"> </select>--> 
	    		<select name="stato">
                            <span th:each="stato : ${varStato}">
				  <option th:value="*{stato}" th:text="${stato}">

				</select>
			</span>
				
				
		</ul>
            <input type="submit" value="Invio">
	</form>
</body>
</html>